* {
  /* background-color: #0F172A; */
  color: #fafafa;
}

html {
  background: hsla(345, 26%, 72%, 1);
  background: linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CBA6AF", endColorstr="#969BC1", GradientType=1 );
  background-attachment: fixed;
}

.App {
  background: hsla(345, 26%, 72%, 1);
  background: linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(345, 26%, 72%, 1) 0%, hsla(233, 26%, 67%, 1) 50%, hsla(207, 37%, 43%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CBA6AF", endColorstr="#969BC1", GradientType=1 );
  background-attachment: fixed;
}